/* 1. General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    text-align: center;
}

section {
    margin-top: 30px;
}

h2,
h3 {
    font-weight: 500;
}

p {
    margin: 20px;
}

img {
    margin: 10px;
}

a {
    font-weight: 400;
    color: #fdf7c3;
    text-decoration: inherit;
    font-size: 1.3rem;
}
a:hover {
    color: #ffb4b4;
}

/* 2. Navbar */
.navbar {
    /* position: relative; */
    background-color: #b2a4ff;
    height: 70px;
    width: 100%;
}

.nav-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.menu-icon {
    display: none;
    color: #fdf7c3;
}
.nav-elements {
    transition: all 0.3s ease-in;
    overflow: hidden;
    justify-content: center;
    margin: auto;
}

.nav-elements ul {
    /* justify-content: space-evenly; */
    list-style-type: none;
    margin: 15px auto;
}

.nav-elements ul li {
    display: inline;
    margin: 15px;
    margin-right: 50px;
}

/* 3. Hero */
.hero-img {
    background-image: linear-gradient(
            rgba(245, 217, 217, 0.5),
            rgba(247, 242, 242, 0.5)
        ),
        url("./assets/images/cozy-background-wallpaper-with-yarn-knitting_169016-6305.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 120px;
    width: 100%;
    display: flex;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.1;
    text-align: center;
    margin: auto;
    color: #252525;
    font-weight: 500;
}

/* 4. Home Page - Carousel */
/* .home-section {
    margin-bottom: 100px;
} */
.about-home-section {
    background-color: #fdf7c3;
}

.carousel.container {
    display: flex;
}
.active-slide {
    margin: auto;
    width: 300px;
    height: 250px;
    /* border: 1px solid black; */
}

.active-slide img {
    margin: auto;
    width: 300px;
    height: 250px;
    object-fit: contain;
}

.carousel-buttons {
    display: inline-block;
    height: 50px;
    width: 400px;
    margin: auto;
}

.carousel-buttons button {
    height: 30px;
    width: 100px;
    margin: 10px 10px;
    border-radius: 10px;
    border: none;
    background-color: #ffb4b4;
}

.hidde {
    display: none;
}

/* 5. Inspiration  page*/
.pexel-tag {
    color: #ffb4b4;
}

.inspiration-box {
    display: inline-block;
    margin: 5px;
}

/* 6. Projects page */
.projects-section {
    display: flex;
}

.title-projects {
    margin-top: 30px;
}
.projects-section img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.project-article {
    /* border: 1px solid black; */
    margin: 20px;
}

/* 7. About page */
.about-section img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.about-section {
    /* background-color: #fdf7c3; */
    padding-bottom: 50px;
    padding-top: 70px;
}

/* 8. Footer  */
footer {
    background-color: #b2a4ff;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

footer a {
    margin-top: 15px;
    color: #fdf7c3;
    font-weight: 500;
}

/* 9. Media query  */
@media (max-width: 640px) {
    .menu-icon {
        display: block;
        position: absolute;
        right: 25px;
        cursor: pointer;
    }

    .nav-elements {
        position: absolute;
        right: 0;
        top: 190px;
        background-color: #fdf7c3;
        width: 0px;
        transition: all 0.5s ease-in;
        overflow: hidden;
    }

    .nav-elements.active {
        width: 220px;
    }

    .nav-elements ul {
        display: flex;
        flex-direction: column;
        text-align: right;
    }
    a {
        color: #b2a4ff;
    }

    .projects-section {
        display: inline-block;
    }
}
