:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
}

.navbar {
    position: relative;
    background-color: #b2a4ff;
    height: 70px;
}

.nav-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.menu-icon {
    display: none;
    color: #fdf7c3;
}
.nav-elements {
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.3s ease-in;
    overflow: hidden;
}

.nav-elements ul {
    justify-content: space-between;
    list-style-type: none;
}

.nav-elements ul li {
    display: inline;
    margin: 20px;
    margin-right: 50px;
}

.hero-img {
    background-image: linear-gradient(
            rgba(245, 217, 217, 0.5),
            rgba(247, 242, 242, 0.5)
        ),
        url("./assets/images/cozy-background-wallpaper-with-yarn-knitting_169016-6305.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 20vh;
    text-align: center;
}
.pexel-tag {
    color: #ffb4b4;
}

a {
    font-weight: 400;
    color: #fdf7c3;
    text-decoration: inherit;
    font-size: 1.3rem;
}
a:hover {
    color: #ffb4b4;
}

.project-article {
    border: 1px solid black;
    margin: 20px;
}

.inspiration-box {
    display: inline-block;
    margin: 5px;
}

body {
    margin-bottom: 3rem;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    text-align: center;
}

footer {
    background-color: #b2a4ff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

@media (max-width: 600px) {
    .menu-icon {
        display: block;
        position: absolute;
        right: 25px;
        cursor: pointer;
    }

    .nav-elements {
        position: absolute;
        right: 0;
        top: 70px;
        background-color: #fdf7c3;
        width: 0px;
        transition: all 0.5s ease-in;
        overflow: hidden;
    }

    .nav-elements.active {
        width: 220px;
    }

    .nav-elements ul {
        display: flex;
        flex-direction: column;
        text-align: right;
    }
}
